extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
block main
    .container.my-3 
        .row
            .col-12
                +box-head("Post")

        .row
            each item in blogPosts
                .col-4.mb-3
                    .product-item
                        .inner-image
                            img(src=item.thumbnail 
                                alt=item.title)
                        .inner-content 
                            h3.inner-title #{item.title}
                            b.inner-author #{item.author}
                            .inner-content #{item.content}
                            .inner-published-day #{item.publishedDate}